@model List<Blog>
@{
    ViewData["Title"] = "Index";
}

<h1>BlogList</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>UserName</th>
            <th>BlogPost</th>
            <th>Category</th>
            <th>DateTime</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var blog in Model)
        {
            <tr>
                <td>@blog.User.UserName</td>
                <td>@blog.BlogPost</td>
                <td>@blog.Category.CategoryName</td>
                <td>@blog.TimeStamp</td>
            </tr>
        }
    </tbody>
</table>

