@model List<Blog>
@{
    ViewBag.Title = "BlogList";
}



@*<a asp-controller="Blog" asp-action="Add">Add new Post</a>*@
<table class="table table-bordered">
    <thead>
        <tr>
            <th>UserName</th>
            <th>BlogPost</th>
            <th>Category</th>
            <th>DateTime</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var blog in Model)
        {
        <tr>
            <td>@blog.User</td>
            <td>@blog.BlogPost</td>
            <td>@blog.Category</td>
            <td>@blog.GetDateTime</td>
            <td></td>
        </tr>
        }
    </tbody>

</table>